* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --well-rows: 20;
  --well-columns: 10;
  --well-height: 80vmin;
  --square-size: calc(var(--well-height) / var(--well-rows));
  --square-border-width: calc(var(--square-size) / 8);
  --well-width: calc(var(--well-columns) * var(--square-size));
}

body {
  color: white;
  background: #333838;

  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

header,
footer {
  width: 100vw;
  height: calc(50vh - var(--well-width));

  display: flex;
  justify-content: center;
  align-items: center;
}

.well,
.next,
.score,
.keyboard {
  background: black;
}

.well {
  width: var(--well-width);
  height: calc( 2 * var(--well-width));
  position: relative;
}

.well,
.info {
  margin: 0 1vw;
}

.info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.next {
  width: calc(6 * var(--square-size));
  height: calc(4 * var(--square-size));
}

.keyboard {
  font-size: 2vmin;
}

li {
  display: flex;
}

.key {
  flex: 1;
  text-align: center;
}

.action {
  flex: 2;
}

.pause {
  display: none;
}

/* SQUARES */

.square {
  width: var(--square-size);
  height: var(--square-size);
  position: absolute;

  border-top: var(--square-border-width) rgba(255, 255, 255, 0.6) solid;
  border-left: var(--square-border-width) rgba(255, 255, 255, 0.3) solid;
  border-bottom: var(--square-border-width) rgba(0, 0, 0, 0.6) solid;
  border-right: var(--square-border-width) rgba(0, 0, 0, 0.3) solid;
}

.I { background: red; }
.o { background: green; }
.T { background: lightblue; }
.S { background: pink; }
.Z { background: violet; }
.L { background: yellow; }
.J { background: orange; }
